.App {
  //text-align: center;
}
/*defaults*/
.survey-next{
  position: absolute;
  width: 295px;
  height: 50px;
  left: 41px;
  top: 525px;
  display:flex;
  justify-content:center;
  align-items:center;
  background: #48B07A;
  cursor:pointer;
}
.survey-next-text{
  //font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: #FFFFFF;
}
/*end defaults*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
